body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	height: 100vh;

}
 html, body {
  overflow-x: hidden;
}
 body {
  position: relative;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #612B2C;
	color: #fff;
	box-shadow: 0.625rem 0.625rem 1.25rem 1.25rem black;
  height: 12vh;
	width: 100vw;
	text-shadow: 0rem 0rem 0.25rem white;
}
.navbar img{
	height: 15vh;
}
.brand-title{
 font-size: 1.25rem;
 margin: 62.5%;
 font-family: 'Dela Gothic One', cursive;
 text-shadow: 0rem 0rem 0.625rem white;
 background: #555;
 display: flex;
}
.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}
.navbar-links li{
	list-style: none;
}
.navbar-links li a{
	text-decoration: none;
	font-family: 'Poiret One', cursive;
	font-size: 1.25rem;
	color: #fff;
	padding: 1%;
	display: block;
	transition: 1s;
}
.navbar-links li a:hover{
	background: #444;
}
.navbar-links a:active{
	z-index: +1;
}
.video-background video{
  z-index: -1;
  position: absolute;
  align-items: center;
	display: block;

}
.space-between{
 height: ;
}
.title{
 font-family: 'Dela Gothic One', cursive;
 color: white;
 text-shadow: 0rem 0rem 0.625rem white;
 margin-left: 4vw;
 font-size: 3.7rem;
 padding-top: 15vh;
 min-height: 6rem;
 animation-name: slidein;
 animation-duration: 2s;
}
@keyframes slidein {
from{
	margin-left: 100vh;
	width: 300%;
}
to{
	margin-right: 0%;
	width: 100%;
}
}
.title{
 font-family: 'Dela Gothic One', cursive;
 color: white;
 text-shadow: 0rem 0rem 0.625rem white;
 margin-left: 4vw;
 font-size: 3.7rem;
 padding-top: 15vh;
 min-height: 6rem;
 animation-name: slidein;
 animation-duration: 2s;
}
.title p{

 font-size: 2rem;
 max-height: 25rem;
 max-width: 30rem;
 text-shadow: none;
 text-align: left;
 font-family: 'Poiret One', cursive;
 margin-bottom: 21rem;
 margin-right: 3rem;
}
.title p a{
text-shadow: 0rem 0rem 0.4rem white;
 font-weight: 100;
 font-size: 2rem;
 font-family: 'Raleway', sans-serif;
 font-weight: 555;
}

.free{
  text-align: center;
  background-color: #612B2C;
  color: white;
  font-size: 2rem;
  font-family: 'Poiret One', cursive;
  text-shadow: 0rem 0rem 0.3rem white;
  margin-top: 3rem;
  box-shadow: 0rem 2rem 10rem 2rem black;
}



.grey-background{
	background-color: #333;
	width: 100vw;
	height: 100vh;
	box-shadow: inset 0rem 1.25rem 4.375rem;
	border-top: 5px solid #612B2C;
	border-bottom: 5px solid #612B2C;

}
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 80vw;
	margin: 0 auto;
	padding-top: 10vh;
}
.text{
	height: 37vh;
	margin: 0 auto;
	font-family: 'Russo One', sans-serif;
	color: white;
	text-shadow: 0rem 0rem 0.25rem white;
	font-size: 5vw;
	text-align: right;
}
.text p{
	font-family: 'Poiret One', cursive;
	text-shadow: none;
	font-size: 1rem;
}
.photo{
	height: 36.9vh;
	margin: 0 auto;
}
.photo img{
	height: 31vh;
	border-radius: 100%;
	box-shadow: 0.625rem 0.625rem 1.875rem;
}
.grid-container-second{
	display: grid;
	grid-template-columns: 1fr 1fr;

	max-width: 80vw;
	margin: 0 auto;
	padding-top: 1.875rem;

}
.photo-second{
	margin: 0 auto;
}
.photo-second img{
	height: 31vh;
	border-radius: 100%;
	box-shadow: 0.625rem 0.625rem 1.875rem;
}
.text-second{
	height: 37vh;
	margin: 0 auto;
	font-family: 'Russo One', sans-serif;
	color: white;
	text-shadow: 0rem 0rem 0.25rem white;
	font-size: 5vw;
	max-height: 5vw;
	text-align: left;
	animation-duration: 5s;
	animation-name: slidein2;
}
.text-second p{
	font-family: 'Poiret One', cursive;
	text-shadow: none;
	font-size: 1rem;
}
.question-background{
	width: 100%;
	height: 17rem;
	background-color: #222;
	margin-top: 2rem;
	box-shadow: 0rem 2rem 10rem 2rem black;
	color: #fff;
	border-top: 5px solid #612B2C;
	border-bottom: 5px solid #612B2C;
  box-shadow: inset 0rem 2rem 5rem 2rem black;
}

.question-inner{
	text-align: center;
	padding-top: 3rem;
	font-family: 'Poiret One', cursive;
	font-size: 1.7rem;
	text-shadow: 0rem 0rem 0.3rem white;
	padding: 3rem;
}

.question-inner p{
font-family: 'Poiret One', cursive;
font-size: 1.1rem;
text-shadow: none;
}
.results{
	font-family: 'Russo One', sans-serif;
	color: white;
	padding: 2rem;
	text-align: center;
	font-size: 1.9rem;
	background-color: #612B2C;
	text-shadow: 0rem 0rem 0.1rem white;

}
.results-vid iframe{
border: none;
height: 20rem;
box-shadow: 0.625rem 0.625rem 1.875rem;

}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.redstripe{
	font-family: 'Russo One', sans-serif;
	color: white;

	text-align: center;
	font-size: 1.9rem;
	background-color: #612B2C;
	text-shadow: 0rem 0rem 0.1rem white;
  height: 6rem;

}
.redstripe img{
  margin: auto;
  display: block;

}

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  max-width: 30rem;
  margin: 0 auto;
  padding-top: 3rem;
}
.grid-item {
  font-size: 30px;
  text-align: center;
}
.gridvideobackground{
  height: 30rem;
  background-color: #222;
  width: 100%;
  border-top: 5px solid #612B2C;
  border-bottom: 5px solid #612B2C;
  display: block;
  box-shadow: inset 0rem 2rem 10rem 2rem black;
}
.gridtext{
  display: block;
  color: white;
  text-align: center;
	font-family: 'Poiret One', cursive;
	font-size: 1.7rem;
	text-shadow: 0rem 0rem 0.3rem white;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  padding-left: 2vw;
  padding-right: 2vw;
}
.gridtext p{
  font-family: 'Poiret One', cursive;
  font-size: 1.1rem;
  text-shadow: none;
  text-align: center;
  padding-bottom: 2rem;
}


.footer-div{
	display: flex;
	background: ;
	width: 100%;
	height: 6rem;
	margin-top: 0.4rem;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.footer-div img{
  display: flex;
	padding: 1rem;
	transition: 0.5s;
}
.footer-div img:hover{
 opacity: 40%;
 cursor: pointer;
}
.footer-div img:active{
 opacity: 40%;
 cursor: pointer;
}
