body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
}
html{
	scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #612B2C;
	color: #fff;
	box-shadow: 0.625rem 0.625rem 1.25rem 1.25rem black;
  height: 12vh;
	width: 100vw;
	text-shadow: 0rem 0rem 0.25rem white;
}
.navbar img{
	height: 15vh;
}
.brand-title{
 font-size: 1.25rem;
 margin: 62.5%;
 font-family: 'Dela Gothic One', cursive;
 text-shadow: 0rem 0rem 0.625rem white;
 background: #555;
 display: flex;
}
.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}
.navbar-links li{
	list-style: none;
}
.navbar-links li a{
	text-decoration: none;
	font-family: 'Poiret One', cursive;
	font-size: 1.25rem;
	color: #fff;
	padding: 1%;
	display: block;
	transition: 1s;
}
.navbar-links li a:hover{
	background: #444;
}
.navbar-links a:active{
	z-index: +1;
}
.video-background video{
  z-index: -1;
  position: absolute;
  align-items: center;
	display: block;

}
.space-between{
 height: ;
}
.title{
 font-family: 'Dela Gothic One', cursive;
 color: white;
 text-shadow: 0rem 0rem 0.625rem white;
 margin-left: 5rem;
 font-size: 7vw;
 padding-top: 15vh;
 min-height: 6vw;
}
.title p{

 font-size: 1.25rem;
 max-width: 36vw;
 width: 36vw;
 text-shadow: none;
 text-align: left;
 font-family: 'Poiret One', cursive;
 margin-bottom: 21rem;
}
.grey-background{
	background-color: #333;
	width: 100%;
	height: 100vh;
	box-shadow: inset 0rem 1.25rem 4.375rem ;
}
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1.25rem;
	max-width: 43.75rem;
	margin: 0 auto;
	padding-top: 1.875rem;
}
.text{
	height: 37vh;
	margin: 0 auto;
	font-family: 'Russo One', sans-serif;
	color: white;
	text-shadow: 0rem 0rem 0.25rem white;
	font-size: 7vh;
	text-align: right;
}
.text p{
	font-family: 'Poiret One', cursive;
	text-shadow: none;
	font-size: 3vh;
}
.photo{
	height: 36.9vh;
	margin: 0 auto;
}
.photo img{
	height: 36.9vh;
	border-radius: 100%;
	box-shadow: 0.625rem 0.625rem 1.875rem;
}
.grid-container-second{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1.25rem;
	max-width: 43.75rem;
	margin: 0 auto;
	padding-top: 1.875rem;

}
.photo-second{
	margin: 0 auto;

}
.photo-second img{
	height: 36.9vh;
	border-radius: 100%;
	box-shadow: 0.625rem 0.625rem 1.875rem;
}
.text-second{
	height: 36.9vh;
	width: 30vw;
	margin: 0 auto;
	font-family: 'Russo One', sans-serif;
	color: white;
	text-shadow: 0rem 0rem 0.25rem white;
	font-size: 7vh;
	text-align: left;

}
.text-second p{
	font-family: 'Poiret One', cursive;
	text-shadow: none;
	font-size: 3vh;
}
.video1{
	height:71vh;
	width: 100%;
	background: linear-gradient(90deg, #111, #302640);

}
.video1 video{
margin-top: 0.938rem;
z-index: +1;
margin-left: 50vw;
transform: translate(-50%);
transition: 1s;
box-shadow: 0.625rem 0.625rem 6.25rem 1.875rem;
}
.video1 video:hover{
	width: 13.125rem;
}
.video2{
	height:71vh;
	width: 100%;
	background: linear-gradient(90deg, #111, #302640);
}
.video2 video{
	margin-top: 0.938rem;
	z-index: +1;
	margin-left: 50vw;
	transform: translate(-50%);
	transition: 1s;
	box-shadow: 0.625rem 0.625rem 6.25rem 1.875rem;
}
.video2 video:hover{
	width: 13.125rem;
}
.video3{
	height:71vh;
	width: 100%;
	background: linear-gradient(90deg, #111, #302640);
}
.video3 video{
	margin-top: 0.938rem;
	z-index: +1;
	margin-left: 50vw;
	transform: translate(-50%);
	transition: 1s;
	box-shadow: 0.625rem 0.625rem 6.25rem 1.875rem;
}
.video3 video:hover{
	width: 13.125rem;
}
.video4{
	height:71vh;
	width: 100%;
	background: linear-gradient(90deg, #111, #302640);

}
.video4 video{
	margin-top: 0.938rem;
	z-index: +1;
	margin-left: 50vw;
	transform: translate(-50%);
	transition: 1s;
	box-shadow: 0.625rem 0.625rem 6.25rem 1.875rem;
}
.video4 video:hover{
	width: 20rem;
}
